ul{
  list-style:none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
ul li{
  align-items: stretch;
  padding: 8px 15px 7px 15px;
  margin: 0px 5px;
  font-size: inherit;
}
ul li:first-of-type{
  margin: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
